* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(./image/background.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    max-width: 90%;
}

.container h2 {
    margin: 20px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input .button {
    background: rgb(0, 63, 131);
    color: white;
    border: none;
    margin: 20px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
}

input .button:hover {
    background: rgb(23, 123, 245);
}

a {
    color: rgb(0, 53, 128);
    text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    button {
        width: 70%;
    }

    input, select {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    button {
        width: 80%;
    }

    input, select {
        width: 100%;
    }

    .container h2 {
        font-size: 18px;
    }
}
